{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ url('app_recipe.show' , {id:23,slug:'pastabolo'}) }}">pasta b-olo</a>
        </li>
    </ul>
{% endblock %}
